@import "mixin.scss";

.likedByList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .likeItem {
    display: flex;
    padding: 15px;
    &:hover {
        background-color: $color-navbar-border;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 999px;
    }
    .likeItemUser {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 15px;
      h3 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 2px;
        color: black;
      }
      span {
        font-size: 15px;
        color: #666;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
        color: #333;
      }
    }
  }
}
